



/* Ensure each page is A4 size */
.page {
  width: 21cm;
  min-height: 29.7cm;
  margin: 0 auto;
  padding: 20mm;
  box-sizing: border-box;
  page-break-after: always;
  position: relative;
  /* border-color: black;
  border: solid; */

  
}

.textoutside {
  position: absolute; /* Position relative to its container */
  top: 70%; /* Adjust to position vertically */
  left: 40px; /* Adjust to position horizontally */
  transform: rotate(-90deg); /* Rotate the text 90 degrees counterclockwise */
  transform-origin: left center; /* Ensure rotation happens around the correct point */
  font-size: 14px; /* Adjust font size as needed */
  color: rgba(0, 0, 0, 0.5); /* Adjust color as needed */
  font-weight: bold;
}

.content{
  width: 180mm;
  height: 230mm;
  margin-top: 140px;
  margin-bottom: 80px;
  margin-right: 80px;
  margin-left: 0px;
  box-sizing: border-box;
  page-break-after: always;
  position: fixed;
  /* border-color: black;
  border: solid; */
}
/* Hide content for PDF generation */
.hidden {
  display: none;
}

/* Header and Footer Styles */
.headers, .footer {
  position: absolute;
  width: 100%;
  left: 0;
}

.headers {
  height: 200px;
  background-color: white;
  padding: 20mm;
  top: 0;
}

.footer {
  height: 60px;
  border: solid;
  border-top-right-radius: 25px;
  border-bottom-color: white;
  border-top-color: #FFE86A;
  border-left-color: white;
  border-right-color: #FFE86A;
  padding-top: 10px;
  padding-left: 20mm;
  padding-bottom: 5px;
  padding-right: 20mm;
  bottom: 0;
}

.logo {
  width: 80px;
  height: auto;
}

.title {
  text-align: center;
}

.footer p {
  font-size: 10px;
}

